* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(27, 27, 27, 0.822);
  background-repeat: no-repeat;
  background-position-x: center;
  /* background-image: url('MUGABO.png'); */
  position: relative;
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  margin: auto;
}
.logo {
  margin-top: -20px;
  width: 100px;
  cursor: pointer;
}
nav ul li {
  display: inline-block;
  margin: 20px;
  list-style: none;
}
.nav__link {
  font-family: "Rammetto One", cursive;
  text-decoration: none;
  color: white;
}
.nav__link:hover {
  color: rgba(185, 215, 134, 1);
}
.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  justify-content: flex-end;
  text-align: center;
}

.social {
  margin: 0 0.5rem;
}

.footer h4 {
  font-family: "Allerta Stencil", sans-serif;
  margin: 0 auto;
}
.lower {
  display: inline-block;
}
.icon {
  color: rgba(117, 158, 18, 1);
}
.icon:hover {
  color: aliceblue;
}
#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog-heading span {
  color: rgb(253, 205, 205);
}
.blog-heading h3 {
  font-size: 30px;
  color: white;

  font-family: "Rammetto One", cursive;
}
.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}
.blog-box {
  width: 350px;
  background-color: black;
  border: 1px solid wheat;
  margin: 20px;
}
.blog-img {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blog-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog-text span {
  color: white;
  font-size: 20px;
}
.blog-text .blog-title {
  font-size: 20px;
  font-weight: 500;
  color: #c5f3e4;
  text-decoration: none;
  font-family: "Rammetto One", cursive;
}
.blog-text .blog-title:hover {
  color: rgba(185, 215, 134, 1);
  transition: all ease-in-out 0.3s;
}
.blog-text a {
  color: rgb(228, 211, 243);
}
.blog-text a:hover {
  color: rgba(185, 215, 134, 1);
  transition: all ease 0.4s;
}

.blog {
  padding: 20px;
}
.Read {
  text-decoration: none;
}
p {
  color: rgb(88, 86, 86);
}
@media (max-width: 1100px) {
  .blog-box {
    width: 300px;
  }
}
@media (max-width: 1250px) {
  .blog-box {
    width: 70%;
  }
}
@media (max-width: 550px) {
  .blog-box {
    margin: 20px 10px;
    width: 100%;
  }
}
