* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(27, 27, 27, 0.822);
  background-repeat: no-repeat;
  background-position-x: center;
  /* background-image: url('MUGABO.png'); */
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  margin: auto;
}
.logo {
  margin-top: -20px;
  width: 100px;
  cursor: pointer;
}
nav ul li {
  display: inline-block;
  margin: 20px;
  list-style: none;
}
.nav__link {
  font-family: "Rammetto One", cursive;
  text-decoration: none;
  color: white;
}
.nav__link:hover {
  color: rgba(185, 215, 134, 1);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-form {
  padding: 10px;
  text-align: center;
  max-width: 35%;
}
.contact {
  text-align: center;
  margin-top: 100px;
  color: beige;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
.contact h1 {
  font-family: "Rammetto One", cursive;
  line-height: 10px;
}
form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
.control {
  color: bisque;
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 18px;
  margin-bottom: 16;
}
input {
  height: 45px;
}
form .send {
  background: rgba(27, 27, 27, 0.822);
  border-color: transparent;
  color: beige;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 45%;
  margin-top: 20px;
}
form .send:hover {
  color: rgba(185, 215, 134, 1);
}
.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  justify-content: flex-end;
  text-align: center;
}

.social {
  margin: 0 0.5rem;
}

.footer h4 {
  font-family: "Allerta Stencil", sans-serif;
  margin: 0 auto;
}
.lower {
  display: inline-block;
}
.icon {
  color: rgba(117, 158, 18, 1);
}
.icon:hover {
  color: aliceblue;
}
.copy {
  color: white;
}
.fa fa-code {
  color: aliceblue;
}
@media screen and (max-width: 1080px) {
  .contact-form {
    max-width: 80%;
  }
}
@media screen and (max-width: 780px) {
  .contact-form {
    max-width: 80%;
  }
}
@media screen and (max-width: 520px) {
  .contact-form {
    max-width: 85%;
  }
}
@media screen and (max-width: 480px) {
  .contact-form {
    max-width: 80%;
  }
}
