* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(27, 27, 27, 0.822);
  background-repeat: no-repeat;
  background-position-x: center;
  /* background-image: url('MUGABO.png'); */
  position: relative;
}

.nyaxo {
  position: absolute;
  left: 25%;
  opacity: 0.6;
  z-index: -10;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  margin: auto;
}
.logo {
  margin-top: -20px;
  width: 100px;
  cursor: pointer;
}
nav ul li {
  display: inline-block;
  margin: 20px;
  list-style: none;
}
.nav__link {
  font-family: "Rammetto One", cursive;
  text-decoration: none;
  color: white;
}
.nav__link:hover {
  color: rgba(185, 215, 134, 1);
}
.container {
  display: flex;
  margin: auto;
}
.intro {
  padding-top: 150px;
  margin: auto;
  font-size: 15px;
  color: white;
  font-family: "Rammetto One", cursive;
}
.button {
  padding-top: 100px;
  font-family: "Allerta Stencil", sans-serif;
  background-color: rgba(185, 215, 134, 1);
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  color: rgb(2, 2, 2);
  font-weight: 600;
  border: 1px solid transparent;
  transition: color 5s;
}
.button:hover {
  background: white;
}
.quotes {
  font-size: x-large;
  margin-top: 150px;
  margin-right: 100px;
  color: rgba(212, 249, 153, 0.97);
  font-family: "Allerta Stencil", sans-serif;
}
.quotes h4 {
  font-family: "Allerta Stencil", sans-serif;
  text-align: center;
}
.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  justify-content: flex-end;
  text-align: center;
}

.social {
  margin: 0 0.5rem;
}

.footer h4 {
  font-family: "Allerta Stencil", sans-serif;
  margin: 0 auto;
}
.lower {
  display: inline-block;
}
