html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  background: rgba(22, 22, 22, 0.904);
  color: white;
}

.list {
  list-style: none;
}
.logo {
  margin-top: -10px;
  width: 90px;
  cursor: pointer;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  margin-bottom: 5rem;
}

.nav__item {
  display: inline-block;
  padding: 0 2rem;
}

.nav__link {
  font-family: "Rammetto One", cursive;
  color: #fff;
  text-decoration: none;
}
.nav__link:hover {
  color: rgba(185, 215, 134, 1);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.about__content {
  text-indent: 30px;
  font-size: 20px;
}
.personal-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 4rem;
}

.profile-img {
  margin-left: -200px;
  width: 80%;
}

.intro__name {
  font-family: "Allerta Stencil", sans-serif;
  color: cadetblue;
}

.skills {
  font-family: "Allerta Stencil", sans-serif;
  margin: 6rem auto;
}

.skills__header {
  font-family: "Allerta Stencil", sans-serif;
  text-align: center;
  margin-bottom: 6rem;
}

.skills__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-left: 4rem;
}

.skill__logo {
  width: 30%;
}
.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  justify-content: flex-end;
  text-align: center;
}

.social {
  margin: 0 0.5rem;
}

.footer h4 {
  font-family: "Allerta Stencil", sans-serif;
  margin: 0 auto;
}
.lower {
  display: inline-block;
}
.icon {
  color: rgba(117, 158, 18, 1);
}
.icon:hover {
  color: aliceblue;
}
