* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  background: rgba(22, 22, 22, 0.904);
  color: white;
}

.list {
  list-style: none;
}
.logo {
  margin-top: -10px;
  width: 90px;
  cursor: pointer;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  margin-bottom: 5rem;
}

.nav__item {
  display: inline-block;
  padding: 0 2rem;
}

.nav__link {
  font-family: "Rammetto One", cursive;
  color: #fff;
  text-decoration: none;
}
.nav__link:hover {
  color: rgba(185, 215, 134, 1);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}
.about__content {
  display: flex;
  justify-content: center;
  background: rgb(0, 0, 0);
  border: 4px solid rgba(185, 215, 134, 1);
  text-indent: 30px;
  font-size: 20px;
}
.personal-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 4rem;
}
.image {
  text-align: center;
  object-fit: center;
}
.profile-img {
  max-width: 62%;
  height: 100%;
  margin-left: -250px;
  background-position: center;
}

.intro__name {
  font-family: "Allerta Stencil", sans-serif;
  color: rgba(185, 215, 134, 1);
}
.about__intro {
  animation: typing 1.5s steps(10) infinite;
  font-family: "Rammetto One", cursive;
}
.skills {
  font-family: "Allerta Stencil", sans-serif;
  margin: 6rem auto;
}

.skills__header {
  font-family: "Allerta Stencil", sans-serif;
  text-align: center;
  margin-bottom: 6rem;
}
.skills__header ::after {
  content: "";
  background: rgba(185, 215, 134, 1);
  display: block;
  height: 3px;
  width: 100px;
  margin: 20px auto 50px;
}
.skills__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-left: 4rem;
}

.skill__logo {
  width: 30%;
}
.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  justify-content: flex-end;
  text-align: center;
}

.social {
  margin: 0 0.5rem;
}

.footer h4 {
  font-family: "Allerta Stencil", sans-serif;
  margin: 0 auto;
}
.lower {
  display: inline-block;
}
.icon {
  color: rgba(117, 158, 18, 1);
}
.icon:hover {
  color: aliceblue;
}
.bi bi-filetype-html {
  color: aquamarine;
}
